name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Install dependencies
        run: yarn install

      - name: Upload yarn.lock artifact
        uses: actions/upload-artifact@v4
        with:
          name: yarn-lock-artifact
          path: yarn.lock

  build:
    needs: update-lockfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download yarn.lock artifact
        uses: actions/download-artifact@v4
        with:
          name: yarn-lock-artifact

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
